<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style-homepage.css">
  <title>Home</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <H1>Artist X Fans</H1>
    </div>
    <div class="content-small">
      <h2>Don't have an account?</h2>
      <input type="button" value="Register" class="button-large">
      <hr>
      <h2>If You already Registered</h2>
      <input type="button" value="Login" class="button-large">
    </div>
    <div class="content-large-1">
      <h2>Welcome</h2>
      <h3>Get to Know Your Favorite Artist</h3>
    </div>
    <div class="footer">
      &copy; 2020 Artist X Fans
    </div>
  </div>
</body>

</html>