<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/form.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>Login as Artist</title>
</head>

<body>

    <div>
        <h1>Login as Artist</h1>
    </div>

    <form action="/artist/home" method="get">
        <label for="username">Username</label>
        <input id="username" type="text" name="username">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <input type="submit" value="Login">
    </form>

</body>

</html>